body {
    margin: 0;
    padding: 0;   
    background-color: #FDE5D4; /* Sky Blue */
}

.navbar {
    background-color: #87CEEB; /* Sky Blue */
 
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: black; /* Light Grey */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.logo {
    display: flex;
    align-items: center; /* Vertical alignment */
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    margin: fixed;
  }
  
  .nav-container {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding: 5px 0; /* Add padding for spacing */
  }
  
  .nav-container a {
    padding: 10px; /* Add padding around the buttons for spacing */
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0 20px; /* Add margin between buttons */
  }
  
  .nav-container img.logo {
    width: 200px; /* Adjust the width of the logo as needed */
    height: 50px; /* Adjust the height of the logo as needed */
  }
  

.navbar a:hover {
    background-color: #4682B4; /* Steel Blue */
}

.navbar a.active {
    background-color: #4682B4; /* Steel Blue */
    color: #EBEBEB;
}

.navbar button {
    float: right;
    margin: 10px;
    padding: 5px 0px;
    background-color: #87CEEB;
    color: black;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s;
}

.navbar button:hover {
    float: right;
    margin: 10px;
    padding: 5px 0px;
    color: #EBEBEB;
    background-color: #4682B4;
    text-decoration: none;
}

.container {
    text-align: center;
}

input, button {
    margin-bottom: 10px;
}
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }