* {
    font-family: 'Times New Roman';
}

body {
  background-image: url("images/BG002.webp");

}
.logo {
    width: 250px;
    margin: auto;
}

.logo-img{
    width: 200px;
    margin: auto;
    display: block;
}

.centered {
    font-size: 2.5em;
    text-align: center;
}

#address {
    font-weight: 800;
}

.ticket {
    width: 100%;
    max-width: 100%;
}

.ticket img {
    margin: auto;
    width: 60%;
}

.receiptNumber {
    margin: 0;
    font-size: 2em;
    text-align: center;
}

#receiptNum {
    margin: 0;
    text-align: center;
    font-size: 2.5em;
    font-weight: 800;
}

#total {
    text-align: center;
    align-content: center;
    font-weight: 800;
}

.btn-receipt {
    width: 300px;
    margin: auto;
    display: flex;
    justify-content: center;

}





img {
    max-width: inherit;
    width: inherit;
}

@media print {
    .hidden-print,
    .hidden-print * {
        display: none !important;
    }
}
#invoice-POS{
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    padding:2mm;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 100px;
    width: 600px;
    background: #FFF;
    
    
  ::selection {background: #f31544; color: #FFF;}
  ::moz-selection {background: #f31544; color: #FFF;}
   
  #top, #mid,#bot{ /* Targets all id with 'col-' */
    border-bottom: 1px solid #EEE;
  }
  
  #top{min-height: 100px;}
  #mid{min-height: 80px;} 
  #bot{ min-height: 50px;}
  
  #top .logo{
      float: left;
      height: 60px;
      width: 30px;
      background: url(http://michaeltruong.ca/images/logo1.png) no-repeat;
      background-size: 60px 60px;
  }
  .clientlogo{
    float: left;
      height: 60px;
      width: 60px;
      background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
      background-size: 60px 60px;
    border-radius: 50px;
  }
  .title{
    float: right;
  }
  .title p{text-align: right;} 
  table{
    width: 100%;
    border-collapse: collapse;
  }
  td{
    padding: 5px 0 5px 15px;
    border: 1px solid #EEE
  }
  .tabletitle{
    padding: 5px;
    font-size: .5em;
    background: #EEE;
  }
  .service{border-bottom: 1px solid #EEE;}
  .item{width: 24mm;}
  .itemtext{font-size: .5em;}
  

}
#table table {
    width: 90%;
    border-collapse: collapse;
    text-align: center; /* Add this line to center-align text */
    margin: auto;
  }
  
  #table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #table tr:hover {
    background-color: #ddd;
  }
  
  #table stylo {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
  }
  .stylo-container {
    text-align: center;
    width: 100%;
    margin-top: 20px; /* Adjust the margin as needed */
    margin-bottom: 20px;
    margin: auto; 
    margin-left: 15px;
  }
  .button-stylo {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #000000;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    margin-right: 15px;
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

  }
  
  .button-stylo:hover,
  .button-stylo:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-stylo:active {
    background: var(--color);
    color: #fff;
  }

  @media print {
    body * {
      visibility: hidden;
    }
  
    #invoice-POS,
    #invoice-POS * {
      visibility: visible;
    }
  
    #invoice-POS {
      position: absolute;
      left: 60px;
      top: -50px;
    }
    .button-stylo,
    .button-stylo *{
        display: none !important;
    }
  }